# programmatic thinking

## 1.1 Arithmetic operators

<font color="purple">Arithmetic operator</font> - Symbols that represent an arithmetic operation. + - / * ** //

In [ ]:
30 + 12

42

In [2]:
43 - 1

42

In [3]:
6 * 7

42

In [4]:
84 / 2

42.0

<b>integers</b> - represents numbers with no fractional or decimal part

<b>floating-point numbers</b> represents integers and numbers with a decimal point

In [10]:
84 // 2 #floor division (interger division) - it divides and only gives you the numbers before the decimal

42

In [9]:
85 // 2

42

In [11]:
# exponents - when you raise a number to a power of another number

In [12]:
7 ** 2

49

In [13]:
7 ** 2.5

129.64181424216494

In [ ]:
# 7 ^ 2 - in some languages you use a carrot for exponents Hai :3

## 1.2 expressions

<b>expression</b> collection of operators and numbers

In [18]:
6 + 6 ** 2

42

In [19]:
12 + 5 * 6

42

In [20]:
(12 + 5) * 6

102

## 1.3 arithmetic functions

In [21]:
round(42.4) # rounds the number

42

In [22]:
round(41.6)

42

In [23]:
round(41.5)

42

In [24]:
# the abs function - computers the absolute vaule of a number
abs(42)

42

In [25]:
abs(-42)

42

In [26]:
abs 42

SyntaxError: invalid syntax (816474439.py, line 1)

## 1.4 Strings

<b>strings</b> - in python or any other programming language, strings represent a sequnece of charaters contained in quotes (single or double)

In [30]:
'hello' # single quotes

'hello'

In [29]:
"world" # double quotes

'world'

In [31]:
"hello world'

SyntaxError: unterminated string literal (detected at line 1) (3260505140.py, line 1)

In [32]:
"it's a small world"

"it's a small world"

In [33]:
'it\'s a small world'

"it's a small world"

### + operator with strings: 

<b>concatination</b> - taking muliple strings and putting them together

In [35]:
'well, ' + "it's a small " + 'world'

"well, it's a small world"

### * operator with strings

makes multiple copies of string and concationates them together

In [36]:
'spam, ' * 4

'spam, spam, spam, spam, '

### string functions

In [38]:
len('spam')

4

In [ ]:
`Hello`

SyntaxError: invalid syntax (1123291945.py, line 1)

## 1.5 vaules and types

multiple tytpe of data
* interger
* floats
* strings
* boolean
* null

<b>type</b> - what kind of vaule is the data that we are using. vaules can belong to a type of data

In [7]:
#python type function

type(2)

int

In [8]:
type(3.4)

float

In [9]:
type(True)

bool

In [10]:
type("elijahs hiarcut")

str

In [11]:
int(42.9)

42

In [12]:
float(42)

42.0

In [13]:
str(24)

'24'

In [15]:
'42' + '5'

'425'

In [16]:
"126" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [18]:
int("126") / 3

42.0

In [21]:
age = input("please eneter your age") 
#all data collected from an input statment is always a string

birthYear = 2025 - age
print(birthYear)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [25]:
age = int(input("please eneter your age")) 

birthYear = 2025 - age
print(birthYear)

2016

In [26]:
1,000,000

(1, 0, 0)

In [27]:
1000000

1000000

In [28]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [29]:
1024

1024

In [35]:
round(42.5)

42

## 1.9.5 exrsice

the following qustions give you a chanch to pratcite writing arithmethic expressions

1. how many seconds are there in 42 minutes 42 seconds
2. how man miles are there in 10 kilometers. Hint there are 1.61 kilometeres in a mile
3. if you run a 10 kilometer race in 42 minutes, 42 seconds, what is your aviger pace in seconds per mile.
4. what is your avirge pace in minutes and seconds pur mile.
5. what is your avirge speed in miles per hour.

In [47]:
# 1. how many seconds are there in 42 minutes, 42 seconds
seconds = 42 * 60
tot_secs = seconds + 42
print (str(tot_secs) + " seconds in 42 minutes, 42 seconds")

2562 seconds in 42 minutes, 42 seconds

In [48]:
# 2. how man miles are there in 10 kilometers. Hint: there are 1.61 kilometeres in a mile
miles = round(10 / 1.61, 2)
print (miles)

6.21

In [51]:
# 3. if you run a 10 kilometer race in 42 minutes, 42 seconds, what is your aviger pace in seconds per mile.
secsPerMile = tot_secs / miles
print(round(secsPerMile, 2), "seconds per mile")

412.56 seconds per mile

In [54]:
#4. what is your avirge pace in minutes and seconds per mile
avg_pace = secsPerMile / 60
print(round(avg_pace, 2), "is the pace per mile")

6.88 is the pace per mile

In [59]:
#5. what is your avirge speed in miles per hour.
avg_mph = (avg_pace / 60)
print (avg_mph)

0.11460010735373055

In [64]:
hours = tot_secs / 3600 #converts time to hours
avg_speed_mph = miles / hours

print("avgerive speed (mph):", round(avg_speed_mph, 2))

avgerive speed (mph): 8.73